@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #256af4;
  --color-background-light: #f5f6f8;
  --color-background-dark: #1a1a1a;
  /* --font-display: 'Inter', sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #101622;
  }
}
